<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.personal.dao.mapper.TagMapper">
<select id="findTagsByArticleId" parameterType="long" resultType="com.blog.personal.dao.pojo.Tag">
select id,avatar,tag_name from blog_tag
where id in (select tag_id from)
</select>
    
    <select id="findHotTags" parameterType="int" resultType="java.lang.Long">
        select tag_id from blog_article_tag group by tag_id order by count (1)desc limit #{limit}
    </select>
    
    <select id="findTagsByTagIds" parameterType="list" resultType="com.blog.personal.dao.pojo.Tag">
        select id ,avatar,tag_name from blog_tag
        where id in
        <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </select>
</mapper>